<p><strong>Author: </strong><%= comment.author %></p>
<p><strong>Comment: </strong><%= comment.body %></p>
<p><%= time_ago_in_words(comment.created_at) %></p>

<a class="btn btn-xs btn-primary" <%= link_to "Delete", [comment.post,comment], method: :delete,  data: {confirm: "Are you sure?"}%></p>
