

<div class="all-posts" class="container">
    <% @posts.each do |p| %>
      <div class="donut-post">
          <h3 align="center">Created by: <%= p.user.username %> </h3>
        <div id="donut-image">
        <%= image_tag(p.image(:medium)) %>
        </div>
        <div id="donut-caption">
          <h4><%= p.caption %></h4>
        </div>
      <a class="btn btn-primary" <%= link_to "View", post_path(p.id) %> </a>
    </div>

  <% end %>
</div>
