
<div class="container">
  <div id="new-post">
    <h1>Add a Donut</h1>
    <%= render 'form' %>
  </div>
  <div class="col-xs-5 col-xs-offset-5">
     <%= link_to "Go back to the donuts", posts_path %>
  </div>
</div>
